@import "./reset";

.wrapper{
  display: flex;
  .chat-side{
    background-color:#2f3e51;
    width: 300px;
    height: 100vh;

    .side-header{
      background-color: #253141;
      width: 300px;
      height: 100px;

      .box{
        width: 100%;
        height: 20px;
        display:flex;
        p.user-name{
          color: red;
        }  //user-name

        .menu{
          
        }  //menu
      }  //box
    }  //side-header
  }  //chat-side

  .chat-main{
    border: #eeeeee;
    height: 100px;
    width: 100%;
    background-color: aqua;
  } //chat-main

}  //wrapper