@import "./reset";

.chat-side{
  background-color:#2f3e51;
  width: 300px;
  height: 300px;

  .side-header{
    background-color: #253141;
    width: 300px;
    height: 100px;
  } //side-header
} //chat-side
