!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    %header
    .notice グループを作成しました
    .wrapper
      .chat-side-bar
        .side-header
          .side-header__box
            .side-header__box__user-name hoge
            .side-header__box__menu
              .side-header__box__menu__new-group
              .side-header__box__menu__edit-user
        .groups
          .group
            .group__name hogehoges
            .group__latest-message こんにちは
          .group
            .group__name fugafuga
            .group__latest-message おはよう
          .group
            .group__name foobar
            .group__latest-message hello!
      .chat-main
        .main-header
          .main-header__left-box
            .main-header__left-box__current-group hogehoges
            .main-header__left-box__member-list 
              .main-header__left-box__member-list__member fuga
          .main-header__right-box
            .main-header__edit-button Edit
        .messages
          .messages__message-box
            .messages__message-box__upper-info
              .messages__message-box__upper-info__user-name hoge
              .messages__message-box__upper-info__post-date 2019/05/22(Wed) 17:44:56
            .messages__message-box__text こんにちは
          .messages__message-box
            .messages__message-box__upper-info
              .messages__message-box__upper-info__user-name hoge
              .messages__message-box__upper-info__post-date 2019/05/22(Wed) 17:44:56
            .messages__message-box__text こんにちは
          .messages__message-box
            .messages__message-box__upper-info
              .messages__message-box__upper-info__user-name hoge
              .messages__message-box__upper-info__post-date 2019/05/22(Wed) 17:44:56
            .messages__message-box__text こんにちは
          

        .form
          .form__input-box 
          .form__send-button SEND