!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    %header
    .notice グループを作成しました
    .wrapper
      .chat-side-bar
        .side-header
          .side-header__box
            .side-header__box__user-name hoge
            .side-header__box__menu
              .side-header__box__menu__new-group
              .side-header__box__menu__edit-user
        .groups
          .group
            %p.group__name hogehoges
            %p.group__latest-message こんにちは
          .group
            %p.group__name fugafuga
            %p.group__latest-message おはよう
          .group
            %p.group__name foobar
            %p.group__latest-message hello!
      .chat-main
        .main-header
          .main-header__left-box
            .main-header__left-box__current-group hogehoges
            .main-header__left-box__member-list fuga hoge
          .main-header__right-box
            .main-header__right-box__edit-button Edit
        .messages
          .messages__box
            .messages__box__user-name hoge
            .messages__box__text こんにちは
            .messages__box__post-date 2019/05/22(Wed) 17:44:56

        .form
          .form__input-box ここに入力してください
          .form__send-button SEND



    




