!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    %header
    .wrapper
      .chat-side
        .side-header
          .side-header__box
            %p.side-header__box__user-name hogehoge
            .side-header__box__menu
              .side-header__box__menu__new-group
              .side-header__box__menu__edit-user
      .chat-main
        .main-header
          .main-header__left-box
            .main-header__left-box__current-group
            .main-header__lert-box__member-list
          .main-header__right-box
            .main-header__right-box__edit-button
        .messages
        .form


    




